/* this is main page code  */
#maintopic{
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-shadow: 0px 0px 30px rgb(253, 85, 7);
    background-color: black;
}
body{
    background-image:url(main\ background.jpeg);
    opacity: 90%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.sembox41{
    border: 2px;
    border-color: black;border-style: solid;
    position: absolute;
    height: 300px;
    width: 200px;
    top: 300px;
    left: 200px;
    background-image: url(sem4.jpeg);
    border-radius: 10px;
}

.open{
    border: 2px;
    border-color: black;border-style: solid;
    position: absolute;
    height: 25px;
    width:70px;
    border-radius: 15px;
    padding: 7px;
    top: 230px;
    left: 65px;
    font-size: 20px;

}
.open:hover{
    background-color: rgb(255, 17, 176);
    opacity: 40px;
    box-shadow: 0px 0px 30px black;

}

.sembox42{
    border: 2px;
    border-color: black;border-style: solid;
    position: absolute;
    height: 300px;
    width: 200px;
    top: 300px;
    left: 600px;
    background-image: url(sem4.jpeg);
    border-radius: 10px;
}

.open1{
    border: 2px;
    border-color: black;border-style: solid;
    position: absolute;
    height: 25px;
    width:70px;
    border-radius: 15px;
    padding: 7px;
    top: 230px;
    left: 65px;
    font-size: 20px;

}
.open1:hover{
    background-color: rgb(255, 17, 176);
    opacity: 40px;
    box-shadow: 0px 0px 30px black;
    padding: 10px;

}